@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.calculator {
    width: 470px;
    height: 680px;
    background: #000;
    margin: 150px auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.display {
    color: #fff;
    font-size: 70px;
    text-align: end;
    padding-top: 20px;
    overflow: auto;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.button {
    border: none;
    color: #fff;
    border-radius: 50px;
    padding: 28px 30px;
    width: 22%;
    margin: 10px 6px;
    font-size: 30px;
    background: rgba(128, 128, 128, 0.372);
}

.zero-btn {
    padding: 30px 190px 26px 20px;
}

.btn-orange {
    background: rgb(0, 173, 241);
}

.btn-grey {
    background: rgb(255, 0, 0);
}